html {
    padding: 20px 50px 20px 50px;
}
.burgerPic {
    max-width: 250px;
    max-height: 250px;
}
.pageHead {
    text-align: center;
    margin: 10px;
}
.addBurgerForm {
    text-align: center;
    margin: 10px;
}
.uneaten-burger{
    text-align: center;
}
.devoured-burger{
    text-align: center;
}